body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

#container {
    position: relative;
    width: 80%;
    height: 80%;
    max-width: 1500px;
    max-height: 800px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
}

/* Media query para pantallas pequeñas (menos de 600px) */
@media (max-width: 600px) {
    #container {
        width: 100%;
        height: 100%;
    }
}


.button {
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}


#redButton {
    bottom: 10px;
    right: 10px;
    background: red;
}

#squaresArea {
    position: absolute;
    left: 0;
    height: 90%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.square {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 16px;
 width: 50px;
 height: 50px;
 background: #fff;
 border: 1px solid #333;
 border-radius: 10px;
 color: #333;
 margin: 20px; /* Aumenta el margen para crear una separación mayor entre los cuadrados */
}



.square.selected {
    background:  blue;
}
.status-circle {
 position: relative;
 top: -10px; /* Mueve el círculo arriba del cuadrado */
 left: 50%;
 transform: translate(-50%, -50%);
 width: 20px; /* Aumenta el tamaño del círculo */
 height: 20px; /* Aumenta el tamaño del círculo */
 border-radius: 50%;
 background-color: green;
 font-size: 16px;
 color: #333;
}

